/* /Banner */

.banner{
    background-image: url(../image/inner-banner.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.banner__name h2{
    font-weight: 700;
    font-family: "Volkhov", serif;
    font-size: 24px;
}
.banner__name p{
    font-size: 15px;
    word-spacing: 2.5px;
}

.banner__name p a{
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    color: #707070;
}

.dark .banner__name p a{
    color: #B7B7B7 !important;
}

/* //Banner */
/* /Welcome */
.content-left{
    padding-right: 36px;
}

.title p{
    font-size: 17px;
    margin: 0;
}

.content-photo img{
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}

/* //Welcome */
/* /Number  */
.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.number__item{
    width: 25%;
}

.number__item p{
    margin: 0;
}

.number__item .time span{
    font-size: 48px;
    font-weight: 600;
    color: var(--dark);
}

.number__item i{
    color: var(--green);
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: rgb(0 159 77 / 4%);
    font-size: 32px;
}

.number__item p:last-of-type{
    text-transform: uppercase;
    color: var(--dark);
    font-size: 17px;
}
/* //Number  */
/* /Our team */
.ourteam{
    background-color: var(--green);
}
.ourteam h5{
color: var(--white) !important;
}

.ourteam .title .background-text{
position: absolute;
font-family: 'Volkhov', serif;
color: #fff;
font-weight: bold;
z-index: 0;
opacity: .14;
font-size: 12vw;
right: 50%;
bottom: 50%;
transform: translate(50%, 50%);
}

.ourteam .lead{
    font-size: 20px;
}

.teams__gd{
    background: #fff;
    padding: 16px;
    border-radius: 8px;
}

.team__member{
    overflow: hidden;
    position: relative;
}

.team__member img{
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}   

.team__title h5 a {
    font-weight: bold;
    color: #060606 !important;
    font-size: 21px;
    font-family: 'Volkhov', serif;
    transition: all .5s;
}

.team__title span {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1px;
    display: block;
    color: #707070 !important;
}

.team__title a:hover{
    color: var(--orange) !important;
}

.team__hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgb(8 8 8 / 54%);
    opacity: 0;
    transition: all 0.3s;
}

.team__member:hover .team__hover{
    opacity: 1;
}

.team__hover .desk{
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 1;
    transform: translateY(-55%);
    transition: all 0.3s 0.2s;
    padding: 0 20px;
    text-align: center;

}
.team__member:hover .desk{
    opacity: 1;
    cursor: none;
    top: 35%;
}

.team__hover .desk h4{
    margin-bottom: 4px;
    text-align: center;
    color: #1e272e;
}
.team__hover .desk h4 a{
    font-size: 24px;
    font-family: 'Volkhov', serif;
    text-align: center;
    color: #fff;
    font-weight: bold;
}   
.team__hover .desk{
    color: #fff;
    font-size: 17px;}

.team__hover .s-link{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    transform: translateY(45%);
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.team__hover .s-link i{
    color: #fff;
}

.team__hover .s-link i:hover{
    color: var(--orange);
}

.team__member:hover .team__hover .s-link{
    bottom: 10%;     
    opacity: 1;
} 

.team__hover .s-link a{
    margin: 0 10px;
    color: #1e272e;
    font-size: 16px;
}

/* /video */
.video__wrap{
    max-width: 950px;
    margin: 0 auto;
}

.video__title{
    text-align: center;
}

.video .video__title h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: var(--dark);
}

.video__content img{
    max-width: 100%;
    display: block;
    border-radius: 8px;
    width: 100%;
}

.video__play__icon{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: var(--orange);
}
.play__view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}
#small-dialog{
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}
.video__content iframe{
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}
#small-dialog iframe{
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}
/* //video */
