/* /Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  :root {
    --orange: #fb811e;
    --green: #009f4d;
    --dark: #060606;
    --gray: #707070;
    --white: #ffffff;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
h5{
    color: var(--orange);
    font-size: 22px;
    font-weight: 400;
    font-family: 'Volkhov', serif;
    margin-bottom: 8px;
    
}
h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: var(--dark);
}
p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: var(--gray);
    font-family: 'Source Sans Pro', sans-serif;
}
body a, button , .btn{
    cursor: pointer !important;
    text-decoration: none;
}

  h2,h3,h4,h5,h6{
    font-family: "Volkhov", serif;
  }
  
  a{
    text-decoration: none;
    /* text-transform: uppercase; */
    color: var(--dark);
  }
  
  .btn{
    padding: 12px 30px;
    margin-top: 24px;
    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase ;
    text-decoration: none;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 600;
    display: inline-block;
    transition: all .5s;
    display: inline-block !important;
    text-transform: uppercase !important;
  }
  
  .btn:hover{
    background-color: var(--green);
    color: var(--white);
  }
  
  .title h5{
    color: var(--orange);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 28px;
  }
  
  .title h2{
    color: var(--dark);
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Volkhov", serif;
  }
  
  .title p{
    color: var(--gray);
    font-size: 1rem;
    font-weight: 27px;
    font-family: "Source Sans Pro", sans-serif;
  }
  

/*--------------------------*/
/* HEADER  ********/
.widget{
    margin-bottom: 40px;
  }
  
  
  /* /Header */
  .header__main{
    height: 90px;
    display: flex;
    align-items: center;
  }
  
  .header__main .navbar{
    align-items: center;
    padding: 0;
  }
  
  /* /Logo */
  .logo h1 a{
    position: relative;
    font-size: 32px;
    font-family: "Volkhov", serif;
    color: var(--orange) ;
    text-transform: none;
  }
  
  .logo h1 a i{
    font-size: 20px;
    position: absolute;
    top: -3px;
    left: 55px;
  }
  
  /* //Logo */
  
  
  .header__right{
    display: flex;
    align-items: center;
    color: var(--white);
  }
  
  .header__main .search input{
    background-image: url(../image/search.png);
    background-size: 19px;
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    border-radius: 19px;
    border: solid 1px #eee ;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s ;
  }
  
  /* /Search bar  */
  
  .header__main .search input[type=search]:focus{
    width: 200px;
    background-position: 10px;
    color: black;
    cursor: auto;
    outline: none;
    padding-left: 35px;
  }
  
  /* //Search bar  */
  /* /Dark and light */
  
  .header__main .DarkAndLight{
    font-size: 29px;
    width: 24px;
    height: 24px;
    
  }
  
  .header__main .DarkAndLight i{
    cursor: pointer;
    color: var(--white) ;
  }
  
  .header__main .menu i{
    font-size: 29px;
    cursor: pointer;
    /* color: var(--white) ; */
  }
  
  /* //Dark and light */
  /* /Menu */
  .header__main .menu input{
    display: none;
  }
  
  .header__main .menu__hidden{
    background-color: #fff;
    position: absolute;
    list-style: none;
    text-align: center;
    overflow: hidden;
    top: 56px;
    right: 0;
    padding: 0;
    max-height: 0px;
    min-width: 240px;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    /**** Khi Menu ẩn, lúc bắt đầu thanh Menu sẽ thu lại nhanh, sau đó chậm dần */
    transition: all .5s ease-out;
  }
  
  .header__main .menu__hidden li a{
    text-align: center;
    color: var(--dark);
    display: block;
    padding:7px ;
    font-size: 16px;
    font-weight: 600;
    transition: all .5s;
  }
  
  .header__main .menu__hidden li:first-of-type a{
    color: #fb811e !important;
  }
  
  .header__main .menu__hidden li:hover a{
    color: #fb811e !important;
  }
  .checked:checked ~ .menu__hidden{
    max-height: 400px ;
    /***** Khi Menu hiện sẽ hiện từ từ, sau đó nhanh dần */
    transition: all .5s ease-in;
  }
  /* //Menu */
  /* //Header */
  
  /* <-------------------------------------------------> */
  /* /Change Theme */
  /* Light Theme */
  #myBody{
    background-color: var(--white);
    color: var(--gray);
    transition: all 0s;
  }
  
  .header__right i{
    color: var(--dark);
  }
  
  /* #myBody h1,#myBody h2,#myBody h3,#myBody h4,#myBody h5{
    transition: all 0s;
    color: var(--dark);
  }
  #myBody h1,#myBody h2,#myBody h3,#myBody h4,#myBody h5{
    transition: all 0s;
    color: var(--dark);
  } */
  
  #myBody #switchButton .gg-sun{
    display: none;
  }
  
  #myBody #switchButton .gg-moon{
    display: block;
  }
  /* <----------------------------------------------->*/
  /* Dark Theme */
  /* /Global */
  .dark#myBody{
    background-color: #222222;
    color: #B7B7B7;
  }
  
  .dark .header__right i{
    color: var(--dark) !important;
  }
  
  .dark#myBody h1,.dark#myBody h2,.dark#myBody h3,.dark#myBody h4,.dark#myBody h5,.dark a{
    color: #fdfffc ;
  }
  
  .dark#myBody #switchButton .gg-sun{
    display: block;
  }
  
  .dark#myBody #switchButton .gg-moon{
    display: none;
  }
  /* //Global */
  /* /Hidden Menu */
  .dark#myBody .header__main .menu__hidden{
    background-color: #222222;
  }
  
  .dark#myBody .header__main .menu__hidden a{
    color: var(--white);
  }
  
  /* //Change Theme */

  /* HEADER & Sticky ************************/
  header.sticky{
    background-color: white !important ;
    opacity: 1;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header.sticky .logo a{
    color: #000;
}
.header__main.sticky .DarkAndLight i{
    color: var(--dark);
}

.header__main .menu i{
    font-size: 29px;
    cursor: pointer;
    color: var(--white) ;
  }
.header__main.sticky .menu i {
    color: var(--dark) !important;
}
.header__left a{
    transition: all .5s;
}
#myBody .header__left a:hover{
    color: var(--dark) !important;
}


/* CAROUSEL------------------------- */
.carousel {
    position: relative;
}
.container_carousel{
    width: 100%;
    /* height: 431px; */
    padding-right: 15px;
    padding-left: 15px;
   
   
}
.carousel .container_carousel .row{
    display: flex ;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -25px;
    height: 731px;
    
}
.banner_left {
    position: absolute;
    top: 10rem;
    left: 10rem;
    z-index: 1;
    width: 41.7%;
}
.banner_left  h2 {
    color: #f4f4f4 ;
    font-size: 100px;
    font-weight: bold;
    margin-left: -0.5em;
    font-family: 'Volkhov', serif;
}

.dark .banner_left  h2{
    color: #0b0d0e !important;
}

.banner_left h3{
    font-size: 40px;
    line-height: 50px;
    color: #060606;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: 'Volkhov', serif;
}
p.banner_text{
    font-size: 20px;
}

.banner_left_content {
    position: relative;
}
.bann_contents{
    position: absolute;
    top: 75px;
}
.row .banner_right {
    width: 58.3%;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: auto;
   height: 700px;
}
.carousel-indicators .radio-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    /* background-color: white !important; */
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
}
#carouselExampleCaptions .carousel-indicators.radio-btn{
    background-color: var(--white);
}
#carouselExampleCaptions .carousel-indicators .active {
    background-color: #fb811e !important ;
}
.carousel-inner{
    text-align: center;
    border-bottom-left-radius: 20px;
}
.banner_carousel {
    display: block !important ;
    /* width: 100%; */
    position: absolute;
    right: 0;
    left: 80%;
    bottom: 5%px;
    left: 580px;
    padding-bottom: 0;
    z-index: 2;
   
}
.banner_carousel h5{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Volkhov', serif;
    text-align: center;
    margin-left: 10px;
    /* position: absolute;
    right: 7%;
    bottom: 5%; */
    
}
.banner_carousel p{
    font-family: 'Volkhov', serif;
    color: var(--white);
}

/* FEATURE */
.feature{
    padding: 3rem 0;
    
}
.container-feature {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* padding: 3rem 1rem; */
    display: flex;
    
    
}
.feature-left  {
    width: 50%;
    padding-left: 15px;
    padding-right: 3rem;


}
.feature .feature-left h5{
    font-size: 22px;
    color: var(--orange) !important;
}
.feature-left h3{
    font-size: 40px;
    margin: 0 0 1rem;
    color: var(--dark);
}
.feature-left p{
    font-size: 17px;
    line-height: 27px;
    color: var(--gray);
}
.feature-right{
    width: 50%;
    text-align: center;
}
/* .feature_box{
    padding: 40px 30px !important;
    background-color: var(--white) !important;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
     border-radius: 30px;
}
.row-cols-2{
    display: grid;
    grid-gap: 20px ;
} */
.feature-right-content{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.feature-box1{
    padding: 40px 30px ;
    box-shadow : 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: var(--white);
    border-radius: 30px;
}

.dark .feature-box1{
    background-color: #222222;
    box-shadow : 0 1rem 3rem rgb(23 19 19);
}
.dark .feature-box1 a{
    color: #fdfffc !important; 
}

.feature-box1 img{
    max-width: 65px;
    margin: 0 auto;
    display: block;
}
.feature-box1 a{
    text-decoration: none;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: var(--dark);
    font-family: 'Volkhov', serif;
}

/* Bổ sung hiệu ứng hover thẻ a 
Chỉnh font chữ thẻ h4  */

.feature-box1:hover {
    transition: .3s;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.feature-box1 h4 a:hover{
    color: var(--green) ;
}

/***INTRO******/
.intro {
    padding: 48px 0;
    background-color: var(--green);
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 15px;
}
.intro_content{
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 24px;
}
.intro_content h5 {
    color: var(--white);
}
.intro_content h3 {
    color: var(--white);
}
.intro_content p {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 300;
    padding-top: 40px;
}
.intro_content h4 {
    text-align: center ;
    position: absolute;
    color: var(--white);
    font-size: 12vw;
    opacity: 0.14;
    font-weight: bold;
    font-family: 'Volkhov', serif;
    z-index: 0;    
    /* right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%); */
}
.intro_row , .row {
    display: flex;
}
.col_card {
    width: 33.33%;
    padding: 0 15px;
    position: relative;
}
.card {
    border: none;
    background-color: var(--white);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.card img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.card_body {
    padding: 30px 20px ;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid var(--white);
    border-top: none;
}

.dark .card_body{
    background-color: #222222;
    border: 1px solid #222222;
}

.card_body span{
    color: var(--green);
    display: inline-block;
    background-color: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 600;
}
.card_body a {
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    line-height: 30px;
    padding: 15px 0;
    color: var(--dark);
}

.dark .card_body a{
    color: #fdfffc !important;
}

/* Bổ sung hiệu ứng hover thẻ a */

.card_body a:hover{
    color: var(--green) !important;
}

.card_body p {
    font-size: 17px;
    line-height: 27px;
    color: var(--gray);
}

/* SERVICE */
.service {
    padding: 3rem 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.service_left {
    width: 50%;
    padding: 0 15px;
    align-self: center;
}

.dark .service_left h5{
    color: var(--orange) !important;
}

.service_left p{
    margin-top: 16px;
    font-size: 17px;
    line-height: 27px;
    color: var(--gray);
    font-family: 'Source Sans Pro', sans-serif;
    
}
.row_service_left {
    display: flex;
    margin-top: 3rem;
    padding-top: 1.5rem;
}
.col_detail {
    display: flex;
    width: 50%;
    padding: 0 15px;
}

.detail {
    margin-left: 0.5rem;
}
.col_detail span.fa {
    font-size: 30px;
    color: var(--orange);
}
.col_detail h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.service_right {
    width: 50%;
    position: relative;
    padding-left: 115px;
    /* margin: 0 0 0 100px; */
    padding-right:  15px;
    /* padding-right: 50px; */
}
.service_right img {
    max-width: 100%;
    background-size: cover;
    /* height: auto; */
    border-radius: 30px;
}
.imginfo{
    background-color: var(--orange);
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}
.imginfo h6{
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
}
.imginfo p{
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

/* homeService -----------------------*/

/* .homeService_row{
    padding-top: 30px;
} */
.homeService .feature_colm{
    margin-top: 30px;
    padding: 0 15px;
}
.feature_unit{
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.3s ease-in;
    display: flex;
}

.dark .feature_unit{
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .feature_unit .feature1_para p{
    color: #b7b7b7 !important;
}
.feature_unit:hover{
    border: 1px solid #eee;
    box-shadow: -1px 2px 12px -9px #00000069;
}
/* Bổ sung: hiệu ứng hover thẻ h4 */
.feature_unit:hover h4{
    color: var(--green) !important;
    transition: all .3s ease-in;
}

.feature_unit .feature1_para p{
    transition: all 0;
    color: #707070 !important;
    line-height: 27px;
    font-size: 17px;
}

.feature_unit .col-3 {
    padding: 0 15px;
    width: 25%;
}
.feature_unit .col-3 img{
    width: 100%;
}
.feature_unit .col-9 {
    width: 75%;
    padding: 0 15px;
    text-align: left;
}
.feature_unit .col-9 h4{
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    color: var(--dark);
}
.feature_unit .col-9 p{
    margin-top: 15px;
    color: #707070;
}

/*  GALLERY******/
.gallery{
    padding: 3rem 0;
    margin-bottom:  1.5rem;
    /* display: grid;
    grid-gap: 10px; */
}
.gallery .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.gallery .row .col{
    padding: 0;
}
.gallery_unit1{
    margin-top: 8px;
}
.gallery_unit1 h3{
    font-size: 40px;
    margin-bottom: 8px;
}

.gallery_unit1 h5{
    color: var(--orange) !important;
}

.gallery_unit1 a.btn_style:hover{
    background-color: var(--green );
    color: var(--white);
}
.gallery_unit{
    /* width: 25%; */
    position: relative;
    /* display: block; */
    overflow: hidden;
    cursor: pointer;
}
.gallery_unit img{
    width: 100%;
}

.gallery_unit h5{
    width: 87%;
    color: white;
    text-align: center !important ;
    font-size: 20px;
    margin:  20px;
    padding: 6px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ffffff45;

}

/* HOVER tráng kính CHỈ 1 CHIỀU LƯỢT ĐI */

.gallery_unit::before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-17deg);
    transition: all 0.7s;
    
}
.gallery_unit:hover::before{
    left: 125%;
}

/* FEEDBACK  **************/

.feedbackfarm {
    position: relative;
    content: "";
    background-image: url("../image/bg1.jpg")  ;
    background-size: 120%;
    background-position: top left;
    width: 100%;
    height: 510px;
    padding: 3rem 0;
    
}
.feedbackfarm::before {
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
}
.feedback_layout{
    padding: 48px 0;
}

/* Em thấy cái này đang bị thừa */
/* 
.feedback_layout .container{
    margin: 0 2rem;
    padding: 3rem 1rem;
} */
.feedback_content{
    max-width: 900px ;
    margin: auto ;
    position: relative;
    z-index: 1;
}
.feedback_content .row{
    display: flex ;
    flex-wrap: nowrap;
}
.feedback_left{
    width: 25%;
    text-align: center;
}

.carousel-item.active{
    display: flex;
}

.feedback_left img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.feedback_left a{
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}
.cus_name h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin-top: 20px;
}
.cus_name p{
    color: var(--white);
}
.feedback_right{
    width: 75%;
    align-items: center ;
    padding: 0 15px 0 48px;
}
.feedback_right .fa{
    text-align: left;
    font-size: 20px;
    color: var(--orange);
    font-weight: 600;
    display: block;
}
.feedback_right q{
    font-size: 22px;
    line-height: 34px;
    color: var(--white);
    text-align: left;
    display: block;
    text-indent: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 60px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--orange);
}

/* FOOTER ****** */

.footer_main{
    padding: 3rem 0;
}
.footer_main .container{
    padding: 24px 15px;
}
.footer_main .container .footer_content{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.footer_content p{
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer_item1 {                 
    padding: 0 15px 0 3rem ;
}
.footer_item1 h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dark);
}
.footer_item1 p{
    line-height: 24px;
}
.footer_item1 p:nth-of-type(2), .footer_item1 p:nth-of-type(3), .footer_item1 p:nth-of-type(4){
    margin-top: 1rem;
}
.footer_item1 a{
    text-decoration: none;
    color: var(--gray);
    font-size: 17px;
    transition: all .5s;

}
.footer_info a:hover {
    color: var(--orange);
}

.footer_item2 .logo a{
    position: relative;
    font-size: 32px;
    color: #fb811e;
    font-family: 'Volkhov', serif;
    transition: all 0.5s;
}
.footer_item2 .logo a:hover{
    color: var(--dark) !important;
}
.footer_item2 .logo i {
    position: absolute;
    font-size: 20px;
    top: -2px;
    left: 55px;
}
.footer_item2 p:first-of-type{
    margin-top: 24px;
}
.footer_item2 p:last-of-type{
    margin-top: 3rem;
}

.footer_item2 .copyright{
    color: var(--green);
    transition: all .5s;
}
.footer_item2 .copyright:hover{
    color: var(--orange);
}

.footer_item3 h3{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 600;
}
.footer_subcri form{
    margin-top: 20px;
    display: flex;
}
.footer_subcri  input{
    background-color: #f4f4f4;
    padding: 12px 20px;
    font-size: 16px;
    color: var(--gray);
    width: 80%;
    border: 1px solid  #f4f4f4;
    border-radius: 30px 0 0 30px;
    outline: 0;
}
.footer_subcri button{
    background-color: var(--green);
    width: 20%;
    padding: 12px ;
    font-size: 16px;
    color: var(--white);
    border: none;
    border-radius: 0 30px 30px 0;
}

.footer_subcri button:hover{
    transition: all.5s;
    opacity: .8;
}

.footer_item3 ul{
    margin-top: 32px;
    list-style: none;
    padding-left: 0 ;
} 
.footer_item3 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;

}
.footer_item3 .social span{
    content: "";
    font-size: 15px;
    line-height: 35px;
}
.footer_item3 .social a{
    color: var(--green);
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: rgb(10 191 83 / 8%);
    border-radius: 50%;
    text-align: center;
}
.footer_item3 .social a:hover{
    transition: all .5s;
    color: var(--orange) !important;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%)
}
.backtotop{
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--green);
    border-radius: 4px;
    padding: 0;
    /* transition: all 3s; */
    /* Bổ sung BTT tự ẩn khi di chuyển lên đầu trang */
    visibility: hidden;
    opacity: 0;
}
.backtotop:hover{
    opacity: 0.9;
    
}
.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
    /* transition: all 2s; */
}
.cd-top--is-visible:focus{
    visibility: hidden;
    opacity: 0;
    transition: all 3s;
}



/* desktop lg */
@media screen and (max-width: 1200px) {
}
/* tablet md */
@media screen and (max-width: 992px) {
}
/* phone (ngang) sm */
@media screen and (max-width: 768px) {
}
/* phone(dọc) xs = "" */
@media screen and (max-width: 576px) {
    /* carousel  */
    .container_carousel {        
        height: 431px;        
    }
    .banner_left{
        top: 5rem;
        left: 5rem;
    }
    .banner_left h2{
       font-size: 60px;
    }
    .banner_left h3{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 0.5rem;
    }
    p.banner_text{
        font-size: 12px;
        line-height: 15px;
    }
    .bann_contents {
        position: absolute;
        top: 40px;
        
    }
}



