/* /Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --orange: #fd7e14;
  --green: #009f4d;
  --dark: #060606;
  --gray: #707070;
  --white: #ffffff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark);
}

.btn{
  padding: 12px 30px;
  margin-top: 24px;
  border-radius: 30px;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase ;
  text-decoration: none;
  font-size: 1rem;
  line-height: 26px;
  font-weight: 600;
  display: inline-block;
  transition: all .5s;
}

.btn:hover{
  background-color: var(--green);
  color: var(--white);
}

.title h5{
  color: var(--orange);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
  font-family: "Volkhov", serif;
}

.title h2{
  color: var(--dark);
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: "Volkhov", serif;
}

.title p{
  color: var(--gray);
  font-size: 1rem;
  font-weight: 27px;
  font-family: "Source Sans Pro", sans-serif;
}

/* //Global */
.widget{
  margin-bottom: 40px;
}


/* /Header */
.header__main{
  height: 90px;
  display: flex;
  align-items: center;
}

.header__main .navbar{
  align-items: center;
  padding: 0;
}

/* /Logo */
.logo h1 a{
  position: relative;
  font-size: 32px;
  font-family: "Volkhov", serif;
  color: var(--orange) ;
  text-transform: none;
}

.logo h1 a i{
  font-size: 20px;
  position: absolute;
  top: -3px;
  left: 55px;
}

/* //Logo */


.header__right{
  display: flex;
  align-items: center;
  color: var(--white);
}

.header__main .search input{
  background-image: url(../image/search.png);
  background-size: 19px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border-radius: 19px;
  border: solid 1px #eee ;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s ;
}

/* /Search bar  */

.header__main .search input[type=search]:focus{
  width: 200px;
  background-position: 10px;
  color: black;
  cursor: auto;
  outline: none;
  padding-left: 35px;
}

/* //Search bar  */
/* /Dark and light */

.header__main .DarkAndLight{
  font-size: 29px;
  width: 24px;
  height: 24px;
}

.header__main .DarkAndLight i{
  cursor: pointer;
}

.header__main .menu i{
  font-size: 29px;
  cursor: pointer;
}

/* //Dark and light */
/* /Menu */
.header__main .menu input{
  display: none;
}

.header__main .menu__hidden{
  background-color: #fff;
  position: absolute;
  list-style: none;
  text-align: center;
  overflow: hidden;
  top: 56px;
  right: 0;
  padding: 0;
  max-height: 0px;
  min-width: 240px;
  border-radius: 4px;
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  /* Khi Menu ẩn, lúc bắt đầu thanh Menu sẽ thu lại nhanh, sau đó chậm dần */
  transition: all .5s ease-out;
}

.header__main .menu__hidden li a{
  text-align: center;
  color: var(--dark);
  display: block;
  padding:7px ;
  font-size: 16px;
  font-weight: 600;
  transition: all .5s;
}

.header__main .menu__hidden li:first-of-type a{
  color: #fb811e !important;
}

.header__main .menu__hidden li:hover a{
  color: #fb811e !important;
}
.checked:checked ~ .menu__hidden{
  max-height: 400px ;
  /* Khi Menu hiện sẽ hiện từ từ, sau đó nhanh dần */
  transition: all .5s ease-in;
}
/* //Menu */
/* //Header */

/* <-------------------------------------------------> */
/* /Change Theme */
/* Light Theme */
#myBody{
  background-color: var(--white);
  color: var(--gray);
  transition: all 0s;
}

.header__right i{
  color: var(--dark);
}

#myBody h1,#myBody h2,#myBody h3,#myBody h4,#myBody h5{
  transition: all 0s;
  color: var(--dark);
}

#myBody #switchButton .gg-sun{
  display: none;
}

#myBody #switchButton .gg-moon{
  display: block;
}
/* <----------------------------------------------->*/
/* Dark Theme */
/* /Global */
.dark#myBody{
  background-color: #222222;
  color: #707070;
}

.dark .header__right i{
  color: var(--white) !important;
}

.dark#myBody h1,.dark#myBody h2,.dark#myBody h3,.dark#myBody h4,.dark#myBody h5,.dark a{
  color: #fdfffc !important;
}

.dark#myBody #switchButton .gg-sun{
  display: block;
}

.dark#myBody #switchButton .gg-moon{
  display: none;
}
/* //Global */
/* /Hidden Menu */
.dark#myBody .header__main .menu__hidden{
  background-color: #222222;
}

.dark#myBody .header__main .menu__hidden a{
  color: var(--white);
}

/* //Change Theme */


